.idea
.vscode
.protoc
.DS_Store

# languages
python/
ruby/
php/
java/
csharp/
ts/


.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
docusaurus/video/docusaurus/shared
node_modules/.yarn-integrity
yarn.lock
