from base_client import BaseClient
from typing import Optional

{{/* TODO: make class name configurable */ -}}
class Client(BaseClient):
    {{- range $path, $item := .Paths -}}{{- range $method, $operation := $item.Operations}}    


    {{template "requestFunction" (operationContext $operation $method $path)}}
    {{- end -}}{{- end -}}