{{- define "generateObject"}} struct {
    {{- range $key, $value := .Properties}}
    {{$key}} {{template "generateType" $value.Value}} `json:"{{$key}}"`
    {{- end}}
}
{{- end}}

{{- define "generateType"}}
    {{- if (eq .Type "string")}}string{{end}}
    {{- if (eq .Type "object")}}{{- template "generateObject" .}}{{- end}}
{{- end}}

type {{.Name}} {{template "generateType" .Schema}}
